/*CSS general*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

:root {
    --bg_color: #b4d0e7;
    --btn_color: #0061ff;
    --hero_color: #b4d0e7;
    --dark_color: #000000;
}

html {
    scroll-behavior: smooth;
}

.grid {
    border: 1px solid black;
}